body{

}

h1{
	font-size: 5rem;
	font-weight: 700;
	margin-bottom: 30px;
}

p{
	color: grey;
	margin-bottom: 30px;
	width: 80%;
}


/*Navbar*/

nav{
	margin-bottom: 40px;
}

.brand-tag{
	margin-left: 2%;
	font-weight: bold;
	margin-right: 30px;
	font-size: 1.8rem;
}


.button-form{
	margin-right: 2%;
}

.button-form-b{
	margin-right: 10px;
	margin-left: 10px;
	color: grey;
	border-radius: 8px;
}


.button-form-b:hover{
	color: black;
	background-color: white;
}

.li-item{
	color: grey;
	margin-right: 15px;
}

.li-item:hover{
	color: black;
}


.dropdown-view{

}

/*header*/

.body-grid{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	
}

.big-img{
	width: 100%;
	height: auto;
	max-width: 400px;
	margin-left: 200px;
}

.content{
	margin-left: 20%;
	grid-column: 1/ span 1;
	text-align: left;
}

.button{
	margin-top: 20px;
	background-color: black;
	color: white;
	font-weight: bold;
	border-radius: 7px;
	padding: 10px 20px;
}

.button:hover{
	background-color: white;
	color: black;
	
}

.svgs{
	display:flex;
	width: 40px;
	height: 25px;
	margin-top: 100px;

}

.svgs img{
	margin-right: 40px;
}